// Import bulma styles
@import "~bulma/sass/utilities/_all";

$primary: #A73E24;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$light: #FFDFBB;
$light-light: findLightColor($light);
$light-dark: findDarkColor($light);
$light-invert: findColorInvert($light);

$link: #A73E24;
$link-light: findLightColor($link);
$link-dark: findDarkColor($link);
$link-invert: findColorInvert($link);

$text: $black;

$family-primary: 'EB Garamond', $family-sans-serif;
$weight-normal: 400;
// Lists and maps
// $custom-colors: null !default;

$petroleo: #31595E;
$petroleo-light: findLightColor($petroleo);
$petroleo-dark: findDarkColor($petroleo);
$petroleo-invert: findColorInvert($petroleo);
$gris: #EEEEEE;
$gris-light: findLightColor($gris);
$gris-dark: findDarkColor($gris);
$gris-invert: findColorInvert($gris);

$custom-colors: (
    "petroleo": (
        $petroleo,
        $petroleo-light,
        $petroleo-dark,
        $petroleo-invert
    ),
    "gris": (
        $gris,
        $gris-light,
        $gris-dark,
        $gris-invert
    ),
);
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

$title-color: $black;
$title-family: 'Paytone One', $family-sans-serif;
// $title-weight: 700;
// $subtitle-color: $primary;
$subtitle-family: 'Oswald', $family-sans-serif;

$button-family: 'Oswald', $family-sans-serif;
$button-padding-horizontal: 2em;

$carousel-indicator-color: $petroleo;
$carousel-arrow-color: $petroleo;

$footer-padding: 3rem 1.5rem;